.custom-file-upload {
    font-size: 16px;
    margin-top: 30px;
}

.file-upload-input {
    min-width: 350px;
    max-width: 400px;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px;
    border: none;
    background-color: #63a3f0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    /* IE 9 Fix */
}
.file-upload-input:hover, .file-upload-input:focus {
    background-color: #6296e2;
    outline: none;
}

.file-upload-button {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: #1e87f0;
    /* IE 9 Fix */
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.file-upload-button:hover {
    background-color: #0f7ae5;
}

.trash
{
    width: 21px;
    height: 22px;
    background-position: 0x 0px;
}
.edit
{
    width: 21px;
    height: 22px;
    background-position: -22px 0px;
}

.save
{
    width: 27px;
    height: 22px;
    background-position: -44px 0px;
}

@-webkit-keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.icon-custom
{
    opacity: 0.8;
    border: 5px solid #e5e5e5;
    border-radius: 10px;
    display: inline-block;
    background-image:url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-custom:hover
{
    opacity: 1;
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}